* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.btn {
    padding: 12px 40px;
    font-weight: 600;
    background-color: #fbd214;
    color: white;
    border: 0;
}
.btn:hover {
    padding: 12px 40px;
    font-weight: 600;
    background-color: #223645;
    color: white;
    border: 0;
}

.btn2 {
    padding: 12px 40px;
    font-weight: 600;
    background-color: #223645;
    color: white;
    border: 0;
    margin-left: 40px;
}
.btn2:hover {
    padding: 12px 40px;
    font-weight: 600;
    background-color: #fbd214;
    color: white;
    border: 0;
}


/* header */

.header{
    background-color: #000;
    background-image: url("./Tasin.jpg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 45rem 100vh;
    height: 100vh;
    
}

nav  {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    align-items: center;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 1rem;
    
}
nav a {
    text-decoration: none;
    font-weight: 600;
    color: white;

}
#logo {
    padding: 15px;
}
.banner {
    padding: 7rem;
}

.banner-name {
    color: white;
    font-weight: 700;
    font-size: 62px;
}
.banner-title {
    color: #fbd214;
    font-weight: 800;
    font-size: 62px;
}
.banner-body {
    color: white;
    margin-bottom: 25px;
}

/* Body  */

/* about me */

.about-me {
    display: flex;
    gap: 20px;
    align-items: center;
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.about-body {
    text-align: center;
    padding: 25px;
}
.about-title {
    font-weight: 700;
    line-height: 64px;
    font-size: 42px;
    padding: 25px;
}
.about-sub {
    font-weight: 400;
    font-size: 20px;
}
.about-pic {
    border-width: 20px 0px 0px 20px;
    border-style: solid;
    border-color: #4C5865;
    margin: 20px;
}
.about-pic img {
    width: 30vw;
    padding: 40px;
}


